<!DOCTYPE html>
<html>
    <head>
        <title>Resume</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
        rel="stylesheet">
        <!-- <meta http-equiv="refresh" content="5"> -->

        {% block headcontent %}
        {% endblock %}

    </head>
    <!-- Header part of the main page -->
        <header class="header__bar">
            <img class="header__logo" src="https://cdn.worldvectorlogo.com/logos/udacity.svg" alt="Udacity Logo">
            <h1 class="header__name">The Catalog</h1>
            {%if 'username' not in session %}
                <a class="login__button" href="{{url_for('showLogin')}}">Login</a>
			{% else %}
                <a class="login__button" href="{{url_for('gdisconnect')}}">Logout</a>
			{% endif %}
                <!-- <div class="login__button">Login</div> -->
        </header>
    </head>
    <body>
        <main class="container">
            {% block bodycontent %}
            {% endblock %}
        </main>
    </body>
</html>
